body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    margin-right:auto;
    margin-left:auto;
    margin-bottom:30px;
    width:69%;
    background-color:rgb(100, 1, 7);
    padding:50px;
    border-radius:10px;
    box-shadow: 5px 5px rgb(180, 180, 180);
    border:2px solid;
    border-color:rgb(255, 255, 255);
    text-align: center;

}

h2 {
    font-size: 35px;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:30px;
    margin-top: 110px;
    width:56%;
    background-color:rgb(100, 1, 7);;
    padding:15px;
    border-radius:10px;
    box-shadow: 5px 5px rgb(180, 180, 180);
    border:2px solid;
    border-color:rgb(255, 255, 255);

}

.mafp {
    margin-right:auto;
    margin-left:auto;
    margin-bottom:30px;
    width: 52%;
    background-color:rgb(100, 1, 7);
    padding: 40px;
    border-radius:10px;
    box-shadow: 5px 5px rgb(180, 180, 180);
    border:2px solid;
    border-color:rgb(255, 255, 255);

}

.paragraph {
    font-size: 16px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom:30px;
    width:54%;
    background-color:rgb(100, 1, 7);
    padding:30px;
    border-radius:10px;
    box-shadow: 5px 5px rgb(180, 180, 180);
    border:2px solid;
    border-color:rgb(255, 255, 255); 

    }

.mafpv2 {
    font-size: 20px;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:50px;
    width:50%;
    background-color:rgb(100, 1, 7);
    padding:50px;
    border-radius:10px;
    box-shadow: 5px 5px rgb(180, 180, 180);
    border:2px solid;
    border-color:rgb(255, 255, 255); 
     
}

table {
    font-size: 16px;
    border-collapse: collapse;
    background-color: rgb(100, 1, 7);
    border: 2px solid;
    border-color: white;
}

td, th {
    border: 2px solid rgb(136, 64, 64);
    text-align: left;
    padding: 10px 30px 10px 30px;
    text-align: center;
}

th {
    background-color: rgb(136, 64, 64);
}

caption {
    font-size: 30px;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:10px;
    width:50%;
    background-color:rgb(100, 1, 7);;
    padding:15px;
    border-radius:10px;
    box-shadow: 5px 5px rgb(180, 180, 180);
    border:2px solid;
    border-color:rgb(255, 255, 255);
    
}

.learn {
    font-size: 16px;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:30px;
    width:55%;
    background-color:rgb(100, 1, 7);
    padding:20px;
    border-radius:10px;
    box-shadow: 5px 5px rgb(180, 180, 180);
    border:2px solid;
    border-color:rgb(255, 255, 255); 

}

.learn2 {
    font-size: 16px;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:100px;
    width:55%;
    background-color:rgb(100, 1, 7);
    padding:20px;
    border-radius:10px;
    box-shadow: 5px 5px rgb(180, 180, 180);
    border:2px solid;
    border-color:rgb(255, 255, 255); 

}
.avatar img {
    height: 100px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.avatar {
    font-size: 20px;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:10px;
    width: 75%;
    height:10%;
    background-color:rgb(100, 1, 7);
    padding:15px;
    border-radius:10px;
    box-shadow: 5px 5px rgb(180, 180, 180);
    border:2px solid;
    border-color:rgb(255, 255, 255);
    list-style-type: none;
    text-align: center;
}

.column {
    float: left;
    width: 32.2%;
    padding: 5px;
  }

.row::after {
    content: "";
    clear: both;
    display: table;
  }


.mainpage { 
    margin: auto;
    width: 80%;
    color: white;
    background-color: rgb(70, 70, 70);
    border-left: 2px solid;
    border-right: 2px solid;
} 

* {
    margin: 0;
    padding: 0;
}

header {
    background: rgb(0, 0, 0); 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin-bottom: 0px;
    margin: auto;
}

footer {
    background: rgb(37, 37, 37);
    padding: 10px;
}

footer img {
    float: right;
    width: 100px;
    margin-top: 10px;  
    margin-right: 30px;
    
}

.dropbtn {
    background-color: #000000;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 18px;
  }
  
  .dropdown-content a:hover {
      background-color: #f1f1f1
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: rgb(100, 1, 7);
  }

  .menycolor { 
    background-color: black;
    margin: auto;
    width: 600px;
  }

  .hero-image {
    background-image: url("https://media2.giphy.com/media/3o7WIASlkxldyLOpfq/source.gif");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

  }

  nav {
    position: sticky;
    top: 0px;
    margin: 0 auto;
    background-color: black;
    margin-bottom: 30px;
  }

  .image {
    height:440;
    width:800;
    display: block;
    margin:auto;
    
    }