body {
    background-color: rgb(83, 27, 27);
    color: white;
}

table {
    border-collapse: collapse;
    background-color: rgb(83, 27, 27);
}

td, th {
    border: 2px solid rgb(136, 64, 64);
    text-align: left;
    padding: 10px 30px 10px 30px;
    text-align: center;
}

th {
    background-color: rgb(136, 64, 64);
}

caption {
    padding: 10px;
}